:root {
	--primary-0: #01080E;
	--primary-1: #011627;
	--primary-2: #011221;
	
	--secondary-0: #607B96;
	--secondary-1: #3C9D93;
	--secondary-2: #4D5BCE;
	
	--accent-0: #FEA55F;
	--accent-1: #43D9AD;
	--accent-2: #E99287;
	--accent-3: #C98BDF;
	
	--lines: #1E2D3D;
	
	--gradient-0: #4D5BCE;
	--gradient-1: #43D9AD;
	
	--white: #FFFFFF;
	
	--font-fira: 'Fira Code', monospace;
}